/*.meta

/Docs/**/*.meta

/Editor/**/*.meta

/Editor/Node_Editor/*.asset

/Node_Editor/*.meta

/Node_Editor/Framework/*.meta

/Node_Editor/Resources/*.meta

/Node_Editor/Utilities/**/*.meta

/Docs/site
