/Editor/Node_Editor/*.asset
/Docs/site

/*.meta
/Docs/**/*.meta
/Editor/**/*.meta
/Node_Editor/*.meta
/Node_Editor/Default/*.meta
/Node_Editor/Framework/*.meta
/Node_Editor/Nodes/*.meta
/Node_Editor/Resources/*.meta
/Node_Editor/Utilities/**/*.meta