
* body {max-width: 65%;  margin: auto;}

.page {}

/* Special */
.pMid {text-align: center;}
.img {width: 60%; object-fit: contain;}
.ftImgDesc {font: 16px 'Calibri Light'; text-color: 'gray';}

/* labels */
.ftLrgLbl {font: 28px 'Calibri Light';}
.ftNrmLbl {font: 18px 'Calibri Light';}

/* headers */
* h1 {text-align: center; font: 48px 'Calibri Light';} /* document title */
* h2 {text-align: center; font: 32px 'Calibri Light'; color: #0064FF;} /* header */
* h3 {text-align: center; font: 22px 'Calibri Light'; text-decoration: underline; } /* sub-header */
* h4 {text-align: left; font: 16px 'Calibri Light'; font-weight: bold;} /* section header */

/* standard defaults */
* p {font: 18px 'Calibri Light';}
* li {font: 18px 'Calibri Light';}
